.main-container {
  max-width: $container-width;
  padding: 0 2rem;
  margin: auto;

  @include respond-to('small') {
    padding: 0 1rem;
  }
}

.list {
  column-count: 3;
  column-gap: 2rem;
  margin-bottom: 1rem;

  @include respond-to('small') {
    column-count: 1;
    margin-bottom: .5rem;
  }

  li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    break-inside: avoid;

    @include respond-to('small') {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }
}

img.fade {
  opacity: 0;
  transition: opacity 2s $ease-out-quint .5s, box-shadow .3s $ease-out-quint;

  &.is-loaded {
    opacity: 1;
  }
}

.image-thumb.is-loaded:not(.is-cover) {
  transition: all .3s $ease-out-quint;

  &:hover {
    // transform: translate3d(.3rem, -.3rem, 0);
    transform: scale(1.005);

    // .wrapper {
      box-shadow: 0 3px 15px rgba(0, 0, 0, .2) !important;
    // }
  }
}
