@import '~src/assets/scss/variables';

.hero {
  margin-bottom: 1rem;

  @include respond-to('small') {
    margin-bottom: .5rem;
  }
}

.intro {
  color: $color-mediumgray;
  display: flex;

  h4 {
    margin-bottom: .5rem;
  }

  section {
    margin: 1rem 0;
    padding: 0 .5rem;
    padding-right: 4rem;
    width: 50%;

    &:first-child {
      margin-right: 1.5rem;
    }
  }

  p {
    max-width: 32rem;
    // margin: auto;
    // text-align: center;
    font-weight: 300;
    line-height: 1.4;
    // padding: 1rem;
  }
}
