<div *ngIf="landpageAlbum" class="hero main-container" [@fadeAnimation]>
  <app-image-thumb [image]="landpageAlbum.cover" [cover]="true"></app-image-thumb>
</div>

<div class="intro main-container" *ngIf="text && landpageAlbum" [@fadeAnimation]>
  <section>
    <p style="white-space: pre-line">{{text.landpage_text_1}}</p>
  </section>
  <section>
    <p style="white-space: pre-line">{{text.landpage_text_2}}</p>
  </section>
</div>

<app-albums *ngIf="landpageAlbum" [@fadeAnimation]></app-albums>

<ul class="list main-container" *ngIf="landpageAlbum" [@fadeAnimation]>
  <li *ngFor="let image of landpageAlbum.images">
    <app-image-thumb [image]="image"></app-image-thumb>
  </li>
</ul>
