<div class="hero main-container">
  <app-image-thumb *ngIf="cover" [image]="cover"></app-image-thumb>
</div>

<ul class="list main-container" *ngIf="album">
  <li *ngFor="let image of album.images">
    <app-image-thumb [image]="image"></app-image-thumb>
  </li>
</ul>

<!-- <section class="album main-container" *ngFor="let album of albums">
  <h2 class="title">{{album.title}}</h2>
  <ul>
    <li *ngFor="let image of album.images">
      <img [src]="image.image.image.data.full_url" alt="">
    </li>
  </ul>
</section> -->
