@import '~src/assets/scss/variables';

.hero {
  margin-bottom: 1rem;

  @include respond-to('small') {
    margin-bottom: .5rem;
  }
}

.list {
  column-count: 2;
  column-gap: 2rem;
  margin-bottom: 1rem;

  @include respond-to('small') {
    column-count: 1;
    margin-bottom: .5rem;
  }

  li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    break-inside: avoid;

    @include respond-to('small') {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }
}
