.header {
  padding: 1rem 2.3rem;
  // padding-left: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  align-items: center;

  li {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
