@import '~src/assets/scss/variables';

img {
  width: 100%;
  // border-radius: .5rem;
  // box-shadow: 0 0 10px rgba(131, 90, 90, 0.3);
  // border: 8px double $color-darkgray;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .15);
}

.infos {
  padding: .5rem;
}

.title {
  font-size: 1.2rem;
}

.description {
  font-size: .9rem;
  margin-top: .3rem;
  opacity: .5;
}
