@import '~src/assets/scss/variables';

.image-thumb {
  width: 100%;
}

.infos {
  padding: .5rem;
}

.title {
  font-size: 1.2rem;
}

.description {
  font-size: .9rem;
  margin-top: .3rem;
  opacity: .5;
}
